{% extends "basic.html" %}
{% block content %}
    <h1 style="margin-top:100px;">Каталог заявок</h1>
        <p class="h4">Количество заявок,в статусе "Принято в работу" : {{counter}}</p>
        <ul>
            {% for item in orders %}
                <li>
                    <b class="h5">категория:</b> {{item.category}}<br>
                    <b class="h5">Заявка:</b> {{ item.name }}
                    <p ><b class="h5">дата добавления:</b> {{ item.date }}</p>
                    <b>Статус заявки: {{item.status_verbose}}</b>

                    <p><img style="height: 100px; width: 100px" class="figure-img" src="media/{{ item.photo_file }}"></p>
                </li>
            {% endfor %}
        </ul>

{% endblock %}