{% extends "basic.html" %}

{% load bootstrap4 %}

{% block title %} Добавление объявления {% endblock %}

{% block content %}
   <h2 style="margin-top: 100px">Добавление объявления</h2>
   <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <select name="category" id="id_category">
            <option value selected>---------</option>
            <option value="1">3D дизайн</option>
            <option value="2">2D дизайн</option>
            <option value="3">Эскиз</option>
        </select><br>
       {% buttons submit='Добавить' %} {% endbuttons %}
   </form>
{% endblock %}
